.authentication-container{
  background-image: url(../../assets/images/background_login.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  background-size: cover;
}

.authentication-panel{
  width: 1200px;
  height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__login-column{
    &--left{
      background-color: #E9E9E9;
      flex-direction: column;
      box-shadow: 5px 3px 20px 23px #ccc;
      opacity: 0.93;
    }
    &--right{
      flex-direction: column;
      box-shadow: 5px 3px 20px 23px #ccc;
      background-image: linear-gradient(to right, #FF1744, #E91E63);
    }
  }
  &__form-container{
    min-width: 400px;
  }
}
